* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Barlow Semi Condensed", sans-serif;
}

body {
  width: 100%;
  background-color: #eee;
}
#grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 80%;
  width: 100%;
  margin: 5% auto;
  gap: 1.2em;
}

.grid {
  padding: 1.2em;
  border-radius: 12px;
}

#grid1 {
  grid-column: 1 / span 2;
  background-color: #7541c8;
  color: #cfcfcf;
}
#grid2{
  background-color: hsl(217, 19%, 35%);
  color: #cfcfcf;
}
#grid3{
  background-color: #fff;
  color:hsl(217, 19%, 35%);
}
#grid5 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row: 1 / span 2;
  background-color: hsl(0, 0%, 100%);
  color:hsl(217, 19%, 35%);
}

#grid4 {
  grid-column: 2 / span 2;
  background-color: hsl(219, 29%, 14%);
  color: #cfcfcf;
}

.profile, .block, .profile p{
  background-color: transparent;
}

.profile{
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  align-items: center;
}

.profile img{
  border-radius: 50%;
  margin-right: 1.2rem;
}

.block{
  display:block;
  opacity: 50%;
}

.review{
  font-weight: 600;
  font-weight: bold;
  font-size: 20px;
  margin: 20px 0 20px 0;
}

.quote{
  opacity: 70%;
}

.footer{
  font-weight: 600;
  font-size: 18px;
  text-align: center;
}

.footer a{
  text-decoration: none;
  color:#7541c8;
}

.footer a:hover{
  color: #4b1d96;
}