* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Barlow Semi Condensed", sans-serif;
  background-color: #cfcfcf;
}

body {
  width: 100%;
}
#grid-container {
  border: 2px solid red;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 80%;
  width: 100%;
  margin: 0 auto;
  gap: 1.2em;
}

.grid {
  padding: 1.2em;
  border-radius: 12px;
}

#grid1 {
  grid-column: 1 / span 2;
  background-color: #7541c8;
  color: #cfcfcf;
}
#grid2{
  background-color: hsl(217, 19%, 35%);
  color: #cfcfcf;
}
#grid3{
  background-color: #fff;
  color:hsl(217, 19%, 35%);
}
#grid5 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row: 1 / span 2;
  background-color: hsl(0, 0%, 100%);
  color:hsl(217, 19%, 35%);
}

#grid4 {
  grid-column: 2 / span 2;
  background-color: hsl(219, 29%, 14%);
  color: #cfcfcf;
}

.grid {
  border: 2px solid green;
}
