html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: hsl(220, 15%, 55%);
  color: #fff;
  font-family: "Outfit", sans-serif;
}
