* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/* Header Section */

#header {
  width: 100%;
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.header-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  padding: 10px;
  border: 2px solid green;
}

.header-logo-img {
  max-width: 126px;
  width: 100%;
}

.header-logo-h4 {
  font-size: 24px;
  border-left: 2px solid #fff;
  margin: auto 10px;
  padding-left: 10px;
  font-weight: 300;
}

.header-logo-h4 a {
  text-decoration: none;
  color: #fff;
}

.buttons{
  margin-right: 40px;
}

.buttons button {
  color: #fff;
  border-radius: 12px;
  font-weight: 500;
  padding: 6px 22px;
  font-size:24px;
}

.request-btn {
  background-color: #191a1b;
  border: 1px solid #fff;
  color: #fff;
  margin-right: 10px;
}

.sign-btn {
  padding: 6px 22px;
  background-color: #4c5fd5;
  border: none;
}

/* Responsive Header */

@media only screen and (max-width: 740px){
  #header{
    flex-direction: column;
  }
  .buttons{
    margin-top: 20px;
  }
}

@media only screen and (max-width: 435px){
  .buttons{
    margin: 0;
    margin-top: 10px;
  }
  .buttons button{
    width: 100%;
    margin: 7px auto;
  }
}


/* Subscription Section */
#subscription{
  text-align: center;
  padding: 60px 0px;
  background-color: #dadbf1;
}

.subscription-container{
  max-width: 60%;
  width: 100%;
  margin: 0 auto;
}

#subscription h1{
  font-family: "Roboto", sans-serif;
  font-size:80px;
  font-weight:400;
  margin-bottom: 40px;
  color: #000;
}

#subscription form input{
  width:100%;
  padding: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  border: 1px solid #000;
}

#subscription form input:hover,#subscription form input:active {
  border:1px solid #4C5FD5;
}

.subscription-form{
  position: relative;
  margin-bottom: 60px;
}

.arrow-icon{
  position:absolute;
  top: 15px;
  right: 20px;
}
.arrow-icon:hover{
  cursor: pointer;
  color: #4C5FD5;
}


/*Services Section*/

#services{
  border: 1px solid red;
}

.services-img{
  max-height:120px;
  max-width: 100%;
}

.services-container{
  border: 2px solid purple;
  max-width: 85%;
  width: 100%;
  margin: 90px auto;
}

.box{
  margin: 20px auto;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  border: 2px solid orange;
}

.box-text{
  border: 2px solid blue;
  margin-left: 20px;
}

.box-text h3{
  font-size:24px;
  font-weight:700;
}

.box-text p{
  font-size:24px;
  line-height:32px;
}

.box-text a{
  font-size:20px;
  line-height:28px;
  color: #4C5FD5;
}

.box-text a:hover{
  color: #4c5fd5;
  text-decoration: underline;
}