* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/* Header Section */

#header {
  width: 100%;
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.header-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  padding: 10px;
  border: 2px solid green;
}

.header-logo-img {
  max-width: 126px;
  width: 100%;
}

.header-logo-h4 {
  font-size: 24px;
  border-left: 2px solid #fff;
  margin: auto 10px;
  padding-left: 10px;
  font-weight: 300;
}

.header-logo-h4 a {
  text-decoration: none;
  color: #fff;
}

.buttons{
  margin-right: 40px;
}

.buttons button {
  color: #fff;
  border-radius: 12px;
  font-weight: 500;
  padding: 6px 22px;
  font-size:24px;
}

.request-btn {
  background-color: #191a1b;
  border: 1px solid #fff;
  color: #fff;
  margin-right: 10px;
}

.sign-btn {
  padding: 6px 22px;
  background-color: #4c5fd5;
  border: none;
}

/* Responsive Header */

@media only screen and (max-width: 740px){
  #header{
    flex-direction: column;
  }
  .buttons{
    margin-top: 20px;
  }
}

@media only screen and (max-width: 435px){
  .buttons{
    margin: 0;
    margin-top: 10px;
  }
  .buttons button{
    width: 100%;
    margin: 7px auto;
  }
}