body {
  background-image: var(--background-image);
  background-repeat: repeat;
  background-size: cover;
  background-position: cover;
  // z-index: -90;
}

.container {
  border: 2px solid red;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  border-radius: 16px;
  max-width: 50em;
  width: 100%;
  margin: 120px auto;
  height: 25em;
  box-shadow: 0px 21px 55px -15px #000;
  &__images {
    border: 2px solid green;
    width: 50%;
    position: relative;
  }
  &__images img {
    position: absolute;
  }

  &__images--pattern {
    width: 35em;
    top: -130px;
    left: -220px;
  }

  &__images--woman {
    width: 23em;
    top: 30px;
    left: -65px;
  }
  &__images--box {
    width: 11em;
    top: 125px;
    left: -100px;
    z-index: 22;
  }

  &__questions {
    border: 2px solid purple;
    width: 50%;
  }
  &__questions .accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  &__questions .active,
  &__questions .accordion:hover {
    background-color: #ccc;
  }

  &__questions .accordion:after {
    content: "\002B";
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }

  &__questions .active:after {
    content: "\2212";
  }

  &__questions .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
}
